[submodule "sites/projecta"]
	path = sites/projecta
	url = https://github.com/niktek/projecta
[submodule "ext/skeleton"]
	path = ext/skeleton
	url = https://github.com/niktek/skeleton/
[submodule "sites/skeletonlabs.co"]
	path = sites/skeletonlabs.co
	url = https://github.com/skeletonlabs/skeletonlabs.co
